@{
    ViewBag.Title = "Home Page";
}
<div style="min-height:initial">
    <div style="width:49%;display:inline-block"><img src="~/Images/RRLogo.png" style="width: 225px"></div>
    
</div>

<div class="jumbotron" style="background-image:url(http://media-dmg.assets-cdk.com/websites/content/a1c46ba3ad8540eaadd4079c1dd93aed.jpg);background-size:contain;background-repeat:no-repeat"></div>

<div style="text-align: center">
<h1>CUSTOM TRUCKS WITH OFFROAD PERFORMANCE</h1>

<h3 style="margin-bottom:50px"> You’re someone who demands the best from yourself. Why should your truck be any different? When you drive a rugged lifted truck from Rocky Ridge, you’ll stand above the rest, no matter what road or trail you choose. Nothing speaks to your status and toughness like a premium up-fitted truck. Custom lifted trucks from Rocky Ridge are more than just vehicles, they’re a lifestyle. We make everything from unstoppable off-road machines to high-powered performance vehicles, so no matter who you are, we’re here to build your perfect truck.</h3>
</div>

<h1 style="text-align:center">FEATURED TRUCKS</h1>
<div style="margin-bottom:50px">
    <div style="width:32%;text-align:center;display:inline-block">
        <img src="~/Images/BlackRockyRidgeSilverado.jpg" style="width:350px; height:200px" />
    </div>
    <div style="width:32%;text-align:center;display:inline-block">
        <img src="~/Images/WhiteRockyRidgeSilverado.jpg" style="width:350px;height:225px" />
    </div>
    <div style="width:32%;text-align:right;display:inline-block">
        <img src="~/Images/BlueRockyRidgeSilverado.png" style="width:350px;height:200px">
    </div>
</div>
<div>
    <h1 style="text-align:center;">THE ROCKY RIDGE DIFFERENCE</h1>
</div>
<div style="text-align:center;background-image:url(https://i.ytimg.com/vi/B9gjMJ4rTJw/maxresdefault.jpg);margin-bottom:50px;padding:20px">
     <div style="width:28%;display:inline-block;text-align:center;background-color:lightgrey">
             <img src="~/Images/home-RRDifference-headers-trust.png" style="width:250px; height:150px">
             <h4>We build our lifted trucks to the same standards as the manufacturer, 
                so all of our vehicles come backed by an outstanding warranty. Because upfitted vehicles are our only focus, we bring you only the highest levels of quality on the market.</h4>
     </div>
     <div style="width:28%;text-align:center;display:inline-block;background-color:lightgrey">
             <img src="~/Images/home-RRDifference-headers-quality.png" style="width:250px; height:150px">
             <h4>At Rocky Ridge, we push the limits of lifted truck technology every day to expand what’s possible for you. 
                With our custom developed packages and components, we strive to be at the cutting edge of what you expect from your truck, inside and out.</h4>
     </div>
      <div style="width:28%;text-align:center;display:inline-block;background-color:lightgrey">
            <img src="~/Images/home-RRDifference-headers-innovation.png" style="width:250px; height:150px">
            <h4>You need to trust your vehicle as much as you trust yourself, so our trucks deliver dependability you can count on. 
                In fact, all of our techs have at least 1,000 builds under their belts. With that kind of experience, you know you’re getting the very best.</h4>
     </div>
</div>
<div>
    <h1 style="text-align:center;">HOW DO I GET ONE?</h1>
    <h3 style="text-align:center;">Custom trucks from Rocky Ridge give your vehicle the lift, and the boost, that it needs to rise above the competition. 
    It doesn’t matter if you’re tearing up the streets, dominating the outdoors, or looking awesome in the city, your custom truck from Rocky Ridge does it all. 
    Every package is tailored to a specific type of driver, so you know that you’re getting a unique vehicle that has no equal on the road. Our lifted custom trucks are built right here in the USA at our Georgia headquarters, so you know you’re getting the care and quality that comes with an American product.</h3>
</div>

<div style="text-align:center;background-image:url(https://i.ytimg.com/vi/B9gjMJ4rTJw/maxresdefault.jpg);margin-bottom:50px;padding:10px;height:250px">
    <div style="width:31%;display:inline-block;text-align:center">
        <iframe width="325" src="https://www.youtube.com/embed/7aONoCE_OH0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>         
    </div>
    <div style="width:31%;display:inline-block;text-align:center">
        <iframe width="325" src="https://www.youtube.com/embed/dwZAnn9kacI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div style="width:31%;display:inline-block;text-align:center">
        <iframe width="325" src="https://www.youtube.com/embed/Urmo1FZxVgY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
   </div>
</div>

